<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find targets_path_planning)/worlds/ground_plane.world"/>
    <arg name="paused" value="false"/>
  </include>
  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-file $(find targets_path_planning)/urdf/pioneer3at_1.urdf -urdf -x 0 -y -2 -z 0.05 -R 0 -P 0 -Y 1.57 -model p3at1" />
  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-file $(find targets_path_planning)/urdf/pioneer3at_2.urdf -urdf -x 0 -y 2 -z 0.05 -R 0 -P 0 -Y -1.57 -model p3at2" />
  <node name="ros_node" pkg="targets_path_planning" type="ros_node.py" output="screen" />
</launch>
