<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find targets_path_planning)/worlds/heightmap.world"/>
    <arg name="paused" value="false"/>
  </include>

  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-file $(find targets_path_planning)/urdf/pioneer3at_1.urdf -urdf -x -11.97 -y -0.9865 -z 2.982 -R -0.000092 -P -0.019643 -Y -0.910839 -model p3at1" />
  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-file $(find targets_path_planning)/urdf/pioneer3at_2.urdf -urdf -x -10.78 -y 1.5 -z 1.565 -R 0.075 -P -0.067 -Y -1.63 -model p3at2" />
  <node name="spawn_urdf3" pkg="gazebo_ros" type="spawn_model" args="-file $(find targets_path_planning)/urdf/pioneer3at_3.urdf -urdf -x -10.78 -y 3.3 -z 1.565 -R 0.075 -P -0.067 -Y -1.63  -model p3at3" />
  <node name="ros_node" pkg="targets_path_planning" type="ros_node.py" output="screen" />
</launch>
