<?xml version="1.0"?>

<model>
  <name>UAV Heightmap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Konstantin Zakharov</name>
    <email>konstantizaharov@gmail.com</email>
  </author>

  <description>
    Heightmap for experiments with UAV and ground targets 
  </description>

</model>
