<?xml version="1.0"?>

<model>
  <name>Chargers heightmap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Konsntain Zakharov</name>
    <email>kon7666007@yandex.ru</email>
  </author>

  <description>
    Heightmap for charger mission experiments. 
  </description>

</model>
